body {
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

.container {
    width: 100%;
}

ul {
    list-style-type: none;
}

li {
    margin: 10px 10px 10px 40px;
}

a {
    color: white;
}

button {
    padding: 8px 16px;
    background-color: #3882F6;
    border: 1px solid #3882F6;
    border-radius: 8px;
    color: white;
    
}

/* header */

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-height: 20em;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    background-color: #1f2937;
    color:#E5E7EB;
    padding: 2vh 10vw;
}

.header-left-side {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    margin: 10px 2px 10px 10px;

}
   
.header-text {
    text-decoration: solid;
    text-transform: capitalize;
    margin: 0 0.8em;
}

.headerlinks {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 10px 10px 10px 2px;
    gap: 5px;
}

.headerlinks-anchor {
    color: #E5E7EB;
    text-decoration: none;
    font-weight: bold;
}

li {
    margin: 1em;
}

/* end header */

/* main 1 */

.main {
    background-color: #1f2937;
    margin: 0 auto;
    padding: 10vh 10vw;
}

.main-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 50px;

}

.sign-up {
    max-height: 530px;
    max-width: 500px;
    margin: 10px;
}

.hero-button {
    margin: 10px 10px 10px 0px;

}

.welcome-image {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}

.welcome-image img {
    display: flex;
    max-width: 10%;
    max-height: 10%
}

/* end main1 */
 
/* main 2 */

.main2 {
    margin: 0 auto;
    padding: 10vh 10vw;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.main2-header {
    text-align: center;
}

.pictures {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 20px 40px;
}

.pictures img {
    border: 5px solid #fffb96;
    border-radius: 15px;
}

.picture-1,
.picture-2,
.picture-3,
.picture-4 {
    max-width: 200px;
    min-height: 428px;
    margin: 10px;
    align-self: center;
    text-align: center;
}
